<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"
        integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/style.css">
    <title>StoryBooks</title>
</head>

<body>
    <%- include('../partials/_header') %>
        <%- include('../partials/_add_btn') %>
            <div class="container">

                <h3>Add Story</h3>
                <div class="row">
                    <form method="post" action="/api/stories/<%= story._id %>/edit" class="col s12">
                        <div class="row">
                            <div class="input-field">
                                <input type="text" id="title" name="title" value="<%= story.title %>">
                                <!-- <label for="title">Title</label> -->
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field">
                                <input type="text" id="tags" name="tags" value="<%= story.tags %>" required>
                                <!-- <label for="tags">tags</label> -->
                            </div>
                        </div>

                        <div class="row">
                            <div class="row">
                                <div class="input-field col s12">
                                    <textarea id="textarea1" name="body" class="materialize-textarea"><%=story.body%></textarea>
                                    <!-- <label for="textarea1">Textarea</label> -->
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <button type="submit" class="btn">Update Your Story</button>
                            <!-- <button type="reset"><a href="/api/stories/<%= story._id %>" class="btn orange">Cancel</a></button> -->
                            <a href="/api/stories/<%= story._id %>" class="btn orange">Cancel</a>
                        </div>
                    </form>
                </div>

            </div>
</body>

</html>